@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="auth-container m-1">
    <div class="card shadow-lg p-3">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crea una cuenta nueva.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input asp-for="Input.UserName" placeholder="Usuario" class="form-control" />
            </div>
            <div class="form-group input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                <input asp-for="Input.Email" placeholder="Email" class="form-control" />
            </div>
            <div class="form-group input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input asp-for="Input.Contraseña" placeholder="Contraseña" class="form-control" />
            </div>
            <div class="form-group input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-check-circle"></i></span>
                </div>
                <input asp-for="Input.ConfirmPassword" placeholder="Confirmar contraseña" class="form-control" />
            </div>
            <div class="form-group input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="oi oi-text"></i></span>
                </div>
                <input asp-for="Input.Nombre" placeholder="Nombres" class="form-control" />
            </div>
            <div class="form-group input-group">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="oi oi-text"></i></span>
                </div>
                <input asp-for="Input.Apellido" placeholder="Apellidos" class="form-control" />
            </div>
            <hr />
            <div class="form-group input-group">
                <button type="submit" class="btn btn-primary text-right">Registrarse</button>
            </div>
            
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0) {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    } else {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins) {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
